body {
    background: linear-gradient(240deg, blue, violet);
}
@media (max-width: 600px) {
   .dot {
    display: none;
}
}

#intro {
    padding: 60px;
}

.sect2 {
    margin-top: 100px;
}